<div class="d-flex">
 <div class="card" style="width: 18rem;">
<% @restaurants.each do |restaurant| %>
  <div class="card-body">
    <h5 class="card-title"><%= link_to restaurant.name, restaurant_path(restaurant) %></h5>
    
  </div>
  <% end %>
  
</div>
</div>


